/* Base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-blue: #0058ab;
  --brand-yellow: #ffcd00;
  --white: #fff;
  --black: #000;
  --font-title: 2.5rem;
  --font-text: 1.4rem;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  width: 100%;
}

button,
input {
  outline: none;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.App {
  display: flex;
  justify-content: center;
}

/* Containers */

.grid-container {
  display: grid;
  width: min(95%, 50rem);
  background-color: yellow;
  min-height: 100vh;
  row-gap: 1.5rem;
  justify-items: center;
  align-content: center;
  text-align: center;
}

/* Components */

.section-container {
}

.home-image__container {
  width: 40%;
}

.home-image {
  width: 100%;
  object-fit: contain;
}

.home-content__description {
  width: 60%;
  text-align: justify;
}

.modal {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: yellow;
  z-index: 10;
}
