/* Base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-blue: #0058ab;
  --brand-blue-darker: #014788;
  --brand-yellow: #ffcd00;
  --white: #fff;
  --black: #000;
  --font-title: 25px;
  --font-text: 14px;
  --radius: 4px;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
  width: 100%;
}

button,
input {
  outline: none;
  background-color: transparent;
  border: none;
}

h1,
h2 {
  margin: 0;
  font-size: var(--font-title);
}

p {
  font-size: var(--font-text);
  line-height: 1.2rem;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: var(--black);
}

.App {
  display: flex;
  justify-content: center;
}

/* Containers */

.grid-container {
  display: grid;
  width: min(95%, 50rem);
  min-height: 100vh;
  row-gap: 1.5rem;
  justify-items: center;
  align-content: center;
  text-align: center;
}

/* components */

.button {
  background-color: var(--brand-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  word-spacing: normal;
  font-weight: 100;
  font-size: var(--font-text);
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--brand-blue-darker);
}

/* classes */

.image-wrapper {
  width: 100%;
  max-width: 300px;
}

.home-image {
  width: 100%;
  object-fit: contain;
}

.content-description {
  width: 80%;
  max-width: 600px;
  text-align: justify;
}

.modal {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: yellow;
  z-index: 10;
}
