* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-blue: #0058ab;
  --brand-yellow: #ffcd00;
  --white: #fff;
  --black: #000;
  --font-title: 2.5rem;
  --font-text: 1.4rem;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
}
